<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stop Marine Pollution</title>

  <!-- Bootstrap core CSS -->
  <link href= "{{  url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{  url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="{{  url_for('static', filename= 'https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')}}" rel='stylesheet' type='text/css'>
  <link href="{{  url_for('static', filename='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')}}" rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{  url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="col-sm-4 col-xs-8">

                     <a class="navbar-brand" href="/">
                  <img class="w-24 h-24 rounded-full shadow-md" src="{{ url_for('static',filename='asd.jpg') }}" style="width:160px;height:150px;background: transparent;border-radius:9999px;"/></a>
              
          
      </div>
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/mission">Mission</a>
            <a class="dropdown-item" href="/team">Our Team</a>
            <div class="dropdown-divider"></div>
        </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/object">Plastic Object Detection</a>
            <a class="dropdown-item" href="/hotspot">Plastic Hotspot Detection</a>
            <div class="dropdown-divider"></div>
        </div>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/team.png')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2></h2>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Page Content -->
<br>
<h2 align="center">Meet Our Amazing Team!</h2>
<br>
<br>
<div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{{url_for('static',filename='img/Jerry_Gao4.jpg')}}" width="300" height="300" class="rounded z-depth-1" alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Dr. Jerry Gao</h4>
        <h6 class="font-weight-bold grey-text mb-3">Professor, San Jose State University</h6>
        
        <!--LinkedIn -->
        <a class="p-2 fa-lg li-ic" href = 'https://www.linkedin.com/in/jerry-gao-45951422/'>
          <i class="fab fa-linkedin-in"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic">
          <i class="fas fa-envelope"> </i>
        </a>
        <p class="font-weight-bold mb-3">gao.jerry@sjsu.edu<br>(408) 924-3904</p>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{{url_for('static',filename='img/Steffin2.jpeg')}}" width="300" height="300" class="rounded z-depth-1" alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Steffin Franklin</h4>
        <h6 class="font-weight-bold grey-text mb-3">Student, San Jose State University</h6>
      
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic" href='https://www.facebook.com/steffinfranklin'>
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!--LinkedIn -->
        <a class="p-2 fa-lg li-ic" href='https://www.linkedin.com/in/steffin-franklin/'>
          <i class="fab fa-linkedin-in"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic">
          <i class="fas fa-envelope"> </i>
        </a>
        <p class="font-weight-bold mb-3">steffin.franklin@sjsu.edu<br>(408) 666-7415</p>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->

  <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{{url_for('static',filename='img/Chhabra_Girish4.jpg')}}" width="300" height="300" class="rounded z-depth-1" alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Girish Chhabra</h4>
        <h6 class="font-weight-bold grey-text mb-3">Student, San Jose State University</h6>
    
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic" href='https://www.facebook.com/girish.chhabra.376'>
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!--LinkedIn -->
        <a class="p-2 fa-lg li-ic" href='https://www.linkedin.com/in/girishchhabra30/'>
          <i class="fab fa-linkedin-in"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic">
          <i class="fas fa-envelope"> </i>
        </a>
        <p class="font-weight-bold mb-3">girish.chhabra@sjsu.edu<br>(408) 334-1534</p>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{{url_for('static',filename='img/Patil_ParineetaK4.jpg')}}" width="300" height="300" class="rounded z-depth-1"
          alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Parineeta Kishore Patil</h4>
        <h6 class="font-weight-bold grey-text mb-3">Student, San Jose State University</h6>
      
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic" href='https://www.facebook.com/parineeta.patil.3/'>
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!--LinkedIn -->
        <a class="p-2 fa-lg li-ic" href='https://www.linkedin.com/in/parineeta-kishore-patil/'>
          <i class="fab fa-linkedin-in"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic">
          <i class="fas fa-envelope"> </i>
        </a>
        <p class="font-weight-bold mb-3">parineetakishore.patil@sjsu.edu<br>(408) 601-9859</p>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->

</section>
<!-- Section: Team v.3 -->

<!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://github.com/parineeta16/Identification-of-Plastic-Waste-Hotspots-in-and-around-Ocean-Water-using-Machine-Learning" target = "_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div>
  </footer>


<!-- Bootstrap core JavaScript -->
  <script src="{{  url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{  url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{  url_for('static', filename='js/clean-blog.min.js')}}"></script>

</body>

</html>


